server:
  port: 8080

spring:
  config:
    import: optional:classpath:application-secret.yml
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 10MB
  datasource:
    url: jdbc:mysql://localhost:3306/WCApp-waimai?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.gzasc.wechatappwaimai.entity
  configuration:
    map-underscore-to-camel-case: true

file:
  upload:
    path: ${user.dir}/image
  access:
    url: http://localhost:8080

wechat:
  appid: your_appid
  secret: your_secret
